{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1>Welcome to Ready Steady Eat!</h1>
    <div>
        <img src="{% static 'images/home-image.webp' %}" alt="home-image">
    </div>
    <p>An online food platform where you can order meals and get them delivered to your door. There is a selection to choose from
        which is from nibbles, starters, main courses, desserts, and party food. 
    </p>
{% endblock %}