{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="home-container text-center">
    <h1 class='home-title'>Welcome to Ready Steady Eat!</h1>
    <div class="home-image w-100">
        <img src="{% static 'images/home-image.webp' %}" alt="home-image">
    </div>
    <div class="home-paragraph">
    <p>An online food platform where you can order meals and get them delivered to your door. There is a selection to choose from
        which is from nibbles, starters, main courses, desserts, and party food. 
    </p>
    </div>
</div>
{% endblock %}