html {
    height: 100%;
}

.main-heading {
    font-family: sans-serif;

}

.logo-image {
    width: 120px;
    height: auto;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.navbar {
    background-color: green;
    width: 100%;
    border: solid 1px black;
}

.nav-item {
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.search-bar {
    padding-right: 20px;
}


.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.product-container {
    margin-top: 10%;
}

.product-container .row {
    text-align: center;
}

.card .card-img-top {
    height: 120px;
    width: auto;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}