{% extends "base.html" %}

{% load static %}

{% block content %}
  <h1 class="text-center page-titles">Contact Us</h1>
  <p class="text-center page-subtitles">Please contact us if you have any queries regarding our online store.</p>

  <form id="contactForm">
    <div class="col fw-bold">
      <input type="text" class="form-control" id="firstName" placeholder="First name" required>
    </div>
    <div class="col fw-bold">
      <input type="text" class="form-control" id="lastName" placeholder="Last name" required>
    </div>
    <div class="col fw-bold">
      <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
    </div>
    <div class="col fw-bold">
        <input type="phone" class="form-control" id="phone" placeholder="name@example.com" required>
    </div>
    <div class="mb-3 fw-bold">
      <textarea class="form-control" id="text-area" placeholder="Please fill in any comments here..."
                rows="5" required></textarea>
    </div>
    <div>
      <button type="submit" class="submit_button btn btn-custom-text"
              id="submitButton">Submit</button>
    </div>
  </form>
{% endblock content %}