{% extends "base.html" %}

{% load static %}

{% block content %}

  <div class="container">
    <h1 class="text-center page-titles">
      Frequently Asked Questions
    </h1>
    <p class="text-center page-subtitles">
      Find all of your most frequently asked questions below.
    </p>
    <div class="row">
      {% for faq in faq_list %}
        <div class="col-12">
          <div class="card h-100 faq-card">
            <div class="card-body">
              <h2 class="card-title">
                QUESTION:
              </h2>
              <p class="card-text">
                {{ faq.question }}
              </p>
              <h2 class="card-title">
                ANSWER:
              </h2>
              <p class="card-text">
                {{ faq.answer }}
              </p>
              {% if request.user.is_superuser %}
                <button class="btn btn-warning rounded-0" href="{% url 'edit_faq' faq.id %}">Edit</button>
                <button class="text-danger" href="{% url 'delete_faq' faq.id %}">Delete</button>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
      {% if request.user.is_superuser %}
      <button class="btn btn-secondary rounded-0" href="{% url 'add_faq' faq.id %}">Add FAQ/button>
      {% endif %}
    </div>
  </div>
{% endblock content %}