.home-title {
   padding-top: 20px;
}

.home-image {
    width: 40px;
    height: auto;
    margin: 0 auto;
    padding-left: 10px;
    margin-right: 10px;
}

.home-paragraph {
    padding-left: 50px;
    padding-right: 50px;
}

